In [17]:
# imports
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
from pydataset import data

from wrangle import split_data
from explore import determine_variable_type

from sklearn.preprocessing import MinMaxScaler
from

1. Load the tips dataset.

In [9]:
# importing data
tips = data('tips')

In [13]:
# checking the top 5
tips.head()

   total_bill   tip     sex smoker  day    time  size  price_per_person
1       16.99  1.01  Female     No  Sun  Dinner     2          8.495000
2       10.34  1.66    Male     No  Sun  Dinner     3          3.446667
3       21.01  3.50    Male     No  Sun  Dinner     3          7.003333
4       23.68  3.31    Male     No  Sun  Dinner     2         11.840000
5       24.59  3.61  Female     No  Sun  Dinner     4          6.147500

In [14]:
tips.shape

(244, 8)

> a. Create a column named price_per_person. This should be the total bill divided by the party size.

In [12]:
tips['price_per_person'] = tips['total_bill'] / tips['size']

> b. Before using any of the methods discussed in the lesson, which features do you think would be most important for predicting the tip amount?

In [ ]:
# I think the total bill and time will be most important

> c. Use select k best to select the top 2 features for predicting tip amount. What are they?

> d. Use recursive feature elimination to select the top 2 features for tip amount. What are they?

> e. Why do you think select k best and recursive feature elimination might give different answers for the top features? Does this change as you change the number of features you are selecting?

Write a function named select_kbest that takes in the predictors (X), the target (y), and the number of features to select (k) and returns the names of the top k selected features based on the SelectKBest class. Test your function with the tips dataset. You should see the same results as when you did the process manually.

In [ ]:
X_train[[f'{i}_scaled' for i in num_cols]] = MinMaxScaler().fit_transform(X_train[num_cols])

In [ ]:
X_train = pd.concat([X_train, pd.get_dummies(X_train[cat_cols], drop_first=True)], axis=1)

Write a function named rfe that takes in the predictors, the target, and the number of features to select. It should return the top k features based on the RFE class. Test your function with the tips dataset. You should see the same results as when you did the process manually.

In [ ]:
def select_kbeat(X, y, k=2):
    '''
    Arguments:
        X: dataframe of independent features
        y: singles pandas Series (the target)
        k: kwarg, a number of kbest features to select
    Actions
    Returns:
    Modules:
    
    '''
    
    kbest = SelectKBest(f_regression, k=k)
    
    kbest.fit(X, y)
    
    mask = kbest.get_support()
    
    return X.columns[mask]

Load the swiss dataset and use all the other features to predict Fertility. Find the top 3 features using both select k best and recursive feature elimination (use the functions you just built to help you out).

In [ ]:
def rfe(X, y, k=2):
    '''
    Arguments:
        X: dataframe of independent features
        y: singles pandas Series (the target)
        k: kwarg, a number of best recursive features to select
    Actions
    Returns:
    Modules:
    
    '''
    
    model = linreg()
    
    rfe_lin = RFE(model, n_features_to_select=k)
    
    ref_lin.fit(X, y)
    
    mask = rfe_lin.get_support()
    
    return X.columns[mask]